@require './haha.styl'
@charset 'utf8'

some-mixin(a)
  font-size a

other-mixin(a)
  font-size a

.message
  font-size 15px

.warning
  @extend .message
  color yellow

a
  color red
  some-mixin( 5px )

