@extend 'haha'
$size = 12px
some-mixin($paramOne, $site)
	font-size 12px

@import './modules/ui/index'

@import './modules/pay/base'
base()

@import './modules/pay/package'
package()

body
	height auto
h2.msg
	font-size 22px
.cmSubview
	main
		padding 0 0 10px
		.cmBtnLine
			margin-top 20px
			.cmBtn.back
				max-width 35%
			.cmBtn:not(.back)
				min-width 65%
				margin-right 0
#mForm
	padding 0 15px
	.service-title
		padding 0
		border-bottom 0
	.btn:disabled
		background #999
	.btn-group
		margin-top 20px
	.btn
		display inline-block
		white-space nowrap
		padding 10px 0
		&.hide
			display none
	.back.app
		width 30%
		background #999
	.pay-decision
		width 68%
		margin-left 2%
		&.one
			margin-left 0
	.success
			width 100%
			margin-top 20px
	h2
		text-align center
		margin-bottom 20px
