-some-mixin($a, $b)
  font-size $a+$b

other-mixin($myParamOne, $myParamTwo)
  font-size a

.message
  font-size 15px

.warning
  background-image url('www.baidu.com')
  color yellow

a
  -some-mixin 10px
  color red


